body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* 根元素 */
.root {
    width: 500px;
    height: 50px;
    /* border-radius: 8px; */
}

/* 搜索 */
.search {
    height: 50px;
    display: inline-flex;
    /* border-radius: 8px; */
}

/* 输入框 */
.search-input {
    width: 400px;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 8px 0 0 8px;
    font-size: 20px;
    color: black;
}

/* 输入错误动画 */
.search-input-error {
    animation: inputError 0.5s ease;
}

/* 输入错误动画 */
@keyframes inputError {

    0%,
    50%,
    100% {
        color: black;
    }

    25%,
    75% {
        color: red;
    }
}

/* 输入框:聚焦 */
.search-input:focus {
    outline: none;
}

/* 按钮 */
.search-btn {
    width: 80px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: #2e88fb;
    font-size: 20px;
    color: white;
    user-select: none;
}

/* 按钮:点击 */
.search-btn:active {
    background-color: #0060dd;
    color: rgb(206, 206, 206);
}

/* 按钮:聚焦 */
.search-btn:focus {
    outline: none;
}

/* 结果 */
.result {
    width: 100%;
    border-radius: 8px;
    background-color: white;
}

/* 结果列表 */
.result-list {
    max-height: 445px;
    overflow: auto;
    margin: 5px 0 0 0;
    padding: 0;
    border-radius: 8px;
}

/* 结果列表::滚动条 */
.result-list::-webkit-scrollbar {
    width: 10px;
}

/* 结果列表::滚动条轨道 */
.result-list::-webkit-scrollbar-track {
    border-radius: 0 8px 8px 0;
    background-color: #f9f9f9;
}

/* 结果列表::滚动条滑块 */
.result-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #c0c0c0;
}

/* 结果列表::滚动条滑块:虚指 */
.result-list::-webkit-scrollbar-thumb:hover {
    background-color: #7c7c7c;
}

/* 结果列表-条目 */
.result-list li {
    list-style: none;
    line-height: 30px;
    padding-left: 20px;
    user-select: none;
}

/* 结果列表-条目:虚指 */
.result-list li:hover {
    background-color: #2e88fb;
    color: white;
    /* transition: all 0.3s ease; */
}

/* 当前选中的结果列表条目 */
.result-list-item-selected {
    background-color: white;
    color: #2e88fb;
}